.wrapper{
    width: 90%!important;
    padding-top: 65px;
}

.col-description{
    height: 90vh;
    margin: auto;
}
.col-sidebar{
    height: 90%;
    margin: auto;
    border-radius: 5px;
}
.col-3{
    padding-right: 15px;
    padding-left: 15px;
}
.footer{
    background-color:rgb(255, 251, 251);
    position: fixed;
    bottom:0px;
    width:100%;
}
.landing-app{
    position: relative;
    z-index: 1;
    height: 100%;
    top: 0px;
    
}