.header-maindiv{
    position: relative;
}
main{
    background-color: rgb(255, 255, 255);
    height: calc(100%);
    margin-top: 30px;
    border-radius: 5px;
}
header{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.nav-ul, ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0rem!important;
    padding: 0!important;
    display:flex
}
.home{
    padding: 25px 10px;
    transition: 0.3s ease-in-out;
}
.home {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #796BF2;
  
}
.home:hover {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #6252f7;
    color: #fff!important;
  
}
.nav-link-home{
    color:rgb(255, 255, 255)!important;
    

}
.nav-link{
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}


.nav-link:focus, .nav-link:hover{
    color:rgb(0, 0, 0)!important;
    text-decoration: none;
}



/* social section   */
.social-ul li{
    align-items:center;
    margin: 0 5px;
    padding: 25px 0px;
}
.social-ul li:last-child a{
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}



.social-ul li:last-child:hover a{
    color:white!important;
    background-color: #7263fa!important;
    padding: 10px 25px;
    border-radius: 15px;
}
.hire-me{
    color:white!important;
    background-color: rgba(243, 149, 138, 0.973)!important;
    border-radius: 5px!important;
    
}
.hire-me:hover{
    background-color:#6656f3!important;
    
}
.social-ul li{
    padding-left: 10px;
    transition: margin-top 0.5s ease-in-out
}

.social-ul li a{
    color: black;
}
.social-ul li a:hover{
    color: #796BF2!important;
    text-decoration: none;
}

