.service-image{
    width: 90px;
}
.service{
    height: 100px;
}
.about-me{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gray{
    color: rgb(61, 61, 61);
}
b{
    color: #786bf2;
}
.service-div{
    border: 1px solid #786bf257;
    border-radius: 5px;
    transition:  0.1s ; 
}
.service-div:hover{
    /* border: 1px solid #796BF2; */
    box-shadow: 0px 0px 7px 0px #aaa2f1;
    border-radius: 5px;
}
.service .description{
    padding:0px!important;
    box-shadow: none;
}

.service-description{
    font-size: 12px!important;
    color: #666;
}