.service-image{
    width: 90px;
}
.service{
    height: 100px;
}
.about-me {
    font-size: 34px;
    font-family: initial;
    line-height: 33px;
    padding: 20px 0px;
    word-spacing: 3px;
    letter-spacing: 1.1px;
} 
.gray{
    color: #000000;
    font-size: 25px;
    font-family: math;
    font-weight: 700;
}
b{
    color: #786bf2;
}

.service-div{
    border: 1px solid #786bf257;
    border-radius: 5px;
    transition:  0.1s ; 
}
.service-div:hover{
    /* border: 1px solid #796BF2; */
    box-shadow: 0px 0px 7px 0px #aaa2f1;
    border-radius: 5px;
}
.service .description{
    padding:0px!important;
    box-shadow: none;
}

.service-description{
    font-size: 12px!important;
    color: #666;
}